<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--
<div class="row justify-content-md-center flex-container" style="padding:10px; width:1000px;" >
  <table class="table">
    <tr th:each="value: ${gameList}">
      <div>
        <div class="card" style="width:300px; margin:10px;">
          <img th:src="${value[2]}" class="card-img-top" style="height:200px;">
          <div class="card-body">
            <p class="card-text titlehead" th:text="${value[0]}"></p>
            <a class="bodytext" style="text-align:left">Rating:</a>
            <a class="card-text bodytext" th:text="${value[3]}"></a></br>
            <a style="text-align:left" class="bodytext">Playtime (in hours): </a>
            <a class="card-text bodytext" th:text="${value[4]}" ></a></br>
            <h6 class="card-text" th:text="${value[1]}"></h6>
          </div>
          <script>
            ScrollReveal().reveal('.card', {
              interval: 16,
              reset: true,
              useDelay: 'onload'
            })

          </script>
        </div>
      </div>
    </tr>
  </table>
</div>
-->

</body>
</html>